<ng-template #contentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">¿Estás seguro de continuar?</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        Esto eliminara permanentemente la nota.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close('Save click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click');eliminar();">Eliminar</button>
    </div>
  </ng-template>
  