@mixin fuente($tamaño, $color, $fuente, $text-aling:'') {
    color: $color;
    font-size: $tamaño;
    font-family: $fuente;
    @if $text-aling != '' {
        text-align: $text-aling;
    }
}

@mixin display($display,$aling,$justify) {
    display: $display;
    align-items: $aling;
    justify-content: $justify;
}