/*
    Colores
*/
$color-fondo-header: #dee1f6;
$color-error-mensaje: #ff0000;
$color-borde-btn:#358DF0;
$color-background-btn:#2B6E8C;
$color-box-btn:#888888;
$color-notas:#F5C024;
$color-borde-notas:#be8406;
/*
    fonts
*/

@font-face {
    font-family: Roboto_Black;
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto_Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto_Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto_Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}