<header class="p-3 container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="assets/img/logo.png" alt="logo" class="pe-5">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-3" routerLinkActive="active" [routerLink]="['mis-notas']">Mis notas</a></li>
            <li><a class="nav-link px-3" routerLinkActive="active" [routerLink]="['archivado']">Notas archivadas</a></li>
            <li><a class="nav-link px-3" routerLinkActive="active" [routerLink]="['eliminado']">Notas eliminadas</a></li>
        </ul>
    </div>
</header>