@import '../../../styles.scss';

header{
    border-bottom: 1px solid #ece1e1;
    box-shadow: 1px 0px 14px #358DF0;
    .nav {
        .nav-link {
            color: #358DF0;
            font-size: 22px;
            &.active {
                font-weight: bold;
                text-decoration: underline;
                text-decoration-thickness: 9px;
                text-underline-offset: 3px;
            }
        }
    }
}