<!-- Muestra de notas -->
<div class="contenedorNotas">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="d-flex align-items-center flex-wrap">
                <!-- Notas -->
                <div class="notas notas-color" *ngFor="let n of notas;let i=index">
                    <div class="notas-titulo">
                        <!-- Titulo e iconos -->
                        <input type="text" [(ngModel)]="n.titulo" (focus)="respaldaNota(n)" (focusout)="editaNota(n)" oninput="this.value = this.value.toUpperCase()">
                        <div class="acciones">
                            <button><img data-bs-toggle="tooltip" *ngIf="seccion != 'notasArchivadas'" data-bs-placement="top" title="Archivar" src="assets/img/archive.svg" alt="archivar" (click)="archivaNota(i, n)"></button>
                            <button><img data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" src="assets/img/trash.svg" alt="eliminar" (click)="eliminaNota(i, n)"></button>
                        </div>
                    </div>
                    <hr>
                    <!-- Contenido de la nota -->
                    <textarea class="notas-descripcion" [(ngModel)]="n.contenido" (focus)="respaldaNota(n)" (focusout)="editaNota(n)"></textarea>
                    <div class="notas-footer">
                    <!-- Fecha de creación -->
                    <span class="fecha">
                        {{n.fecha | date: 'dd-MM-yyyy'}}
                    </span>
                    </div>
                </div>
                <!-- Botón para agregar una nueva nota -->
                <button *ngIf="seccion == 'notas'" class="btn-agregar" data-bs-toggle="modal" data-bs-target="#addNota">+</button>
            </div>
        </div>
    </div>
    
    <!-- Mensaje cuando no hay notas -->
    <div *ngIf="notas.length == 0" id="sinNotas" class="text-center">
        <img src="assets/img/empty.png" alt="Sin Notas">
        <h1>No hay notas para mostrar</h1>
    </div>
    
    <!-- Modal para agregar notas-->
    <div class="modal fade" id="addNota" tabindex="-1" aria-labelledby="addNotaLabel" aria-hidden="true" #modal>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNotaLabel">Nueva nota</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario -->
                <form [formGroup]="notaForm" (ngSubmit)="addNota()">
                    <div class="mb-3">
                      <label class="form-label">* Titulo</label>
                      <input type="text" class="form-control" formControlName="titulo" oninput="this.value = this.value.toUpperCase()">
                      <small *ngIf="notaForm.controls['titulo'].errors?.required &&
                                    notaForm.controls['titulo'].touched">
                            Este campo es requerido.
                      </small>
                      <small *ngIf="notaForm.controls['titulo'].errors?.existeEmail &&
                                    notaForm.controls['titulo'].touched">
                            No se permiten correos en el título.
                      </small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">* Nota</label>
                        <textarea class="form-control" formControlName="contenido" style="height: 100px"></textarea>
                        <small *ngIf="notaForm.controls['contenido'].errors?.required &&
                                    notaForm.controls['contenido'].touched">
                            Este campo es requerido.
                        </small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" [disabled]="notaForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Crear nota</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal de confirmación -->
    <app-modal></app-modal>
    <!-- Toast -->
    <app-toast></app-toast>
</div>
