@import '../../../styles.scss';

small{
    @include fuente(10px,$color-error-mensaje,Roboto_Bold,center);
}

.notas {
    max-width: 286px;
    width: 286px;
    min-height: 250px;
    max-height: 325px;
    border-bottom-left-radius: 61px 19px;
    box-shadow: 5px 10px 8px #888888;
    margin: 16px;
    border: 1px solid $color-borde-notas;
    background: $color-notas;
    &-titulo {
        padding: 10px;
        @include display(flex,center,space-between);
        input {
            background-color: $color-notas;
            border: none;
            font-weight: 500;
            &:focus-visible {
                outline: none;
            }
        }
        .acciones {
            @include display(flex,flex-start,inherit);
            button {
                background-color: transparent;
                border: none;
            }
        }
    }
    hr {
        margin: 0;
        border-top: 1px solid $color-borde-notas;
    }
    &-descripcion {
        padding: 16px;
        background: $color-notas;
        width: 100%;
        height: 204px;
        border: none;
        resize: none;
        &:focus-visible {
            outline: none;
        }
        &::-webkit-scrollbar {
            width: 3px;     
            height: 200px;    
        }
        &::-webkit-scrollbar-thumb {
            background: $color-borde-notas;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $color-borde-notas;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: $color-borde-notas;
        }
    }
    &-footer {
        padding: 5px;
        text-align: right;
        .fecha {
            font-weight: 500;
        }
    }
}

.boton {
    max-width: 300px;
    width: 300px;
    min-height: 250px;
    max-height: 325px;
    @include display(flex,center,center);
}
.btn-agregar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    @include display(flex,center,center);
    border: 1px solid $color-borde-btn;
    color: white;
    background-color: $color-background-btn;
    box-shadow: 1px 5px 11px $color-box-btn;
    position: fixed;
    right: 16px;
    bottom: 16px;
    &:hover{
       opacity: 0.50;
       -moz-opacity: .50;
    }
    @media (max-width: 576px) { 
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}
